@using GT.Models;

    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <p>Added on: @CurrentItem.Added</p>
                @if (CurrentItem.Expire)
                {
                    <p>@CurrentItem.Name</p>
                    <p><strong class="text-danger">Expired on: @CurrentItem.MarkedExpire</strong></p>
                }
                else
                {
                    <p>@CurrentItem.Name</p>
                <button class="btn btn-info mr-2" @onclick="MarkAsExpire">Expired</button>
                }
                <button class="btn btn-danger" @onclick="Remove">Remove</button>&nbsp;
            </div>
        </div>
    </div>



@code {
    [Parameter]
    public Grocery CurrentItem { get; set; }
    [Parameter]
    public Action Remove { get; set; }
    [Parameter]
    public Action MarkAsExpire { get; set; }
}
